.bottombar-wrapper{
	width:100%;
	background-color: var(--shadow);
	height:55px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottombar-container{
	font-size: 0.7rem;
	color: #bbb;

}
